@font-face {
    font-family: DMSans;
    src: url(DM_Sans/DMSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: DMSans;

}
.head{
    z-index: 1;
    text-transform: uppercase;
    height: 100px;
    width: 100%;
    padding: 18px 30px;
    background: #f2ebe9;
    position: fixed;
    border-bottom: 1px solid #264143;
}
.container {
    width: 100%;
    margin: auto;
    position: relative;
}
body{
    background:  #eddcd9;
    font-size: 20px;

}

.header{
    display: inline-flex;
    font-weight: bold;
    color: #264143;
    line-height: 30px;
}
#tresna{
    padding: 5px;
    padding-top: 15px;
    font-size: 100%;
}
.header img{
    width: 70px;
    padding-top: 1px;
}
.Menu{
    display: inline;
    float: right;
    line-height: 40px;
    padding-top:  8px;
}

.Menu a{
    padding: 5px 5px;
    color: #264143;
    transition: all .5s !important;
    font-size: 80%;
    font-weight: bold;
}
.Menu a:hover, .Menu a.active{
    color: #f2ebe9;
    background-color: #264143;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.content{
    display: none;
    position: absolute;
    background: #f2ebe9;
    min-width: 150px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    border-top: 1px solid #f2ebe9;
    border: 3px solid #264143;
}
.dropdown:hover .content{
    display: block;
}
.content a{
    padding: 12px 10px;
    border-bottom: 1px solid #264143;
    display: block;
    transition: all .5s !important;
    text-align: center;

}
.content a:hover{
    color: blue;
    background-color: #eddcd9;
}

#check, .btn{
    display: none;
}



/*isi*/
.page{
    padding-top: 7%;
}
html{
    scroll-behavior: smooth;
}

.programs{
    padding: 30px 0;
    background-color: #eddcd9;
    color: #264143;
    text-align: center;
}

.inner{
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #264143;
    margin: 26px auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.col{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.program{
    width: 350px;
    height: 500px;
    margin: 20px;
    padding: 30px;
    background-color: #f2ebe9;
    text-align: center;

}

.program img{
    width: 250px;
    height: 150px;
    
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    color: #264143;
    text-decoration: underline;
}

.page h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}
.border2 h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}


.program p{
    color: #264143;
    text-align: justify;
}

.border2{
    border: 2px solid #264143;
}
.gallery{
    margin: 20px;
    align-items: center;
}
.wrap{
    padding-left: 75px;
    margin: 20px;
    align-items: center;
}
.wrap img{
    width: 300px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.wrap img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}


.slide{
    width: 700px;
    position: relative;
    transform: translate(-50%,-50%);
    margin-top: 200px;
    margin-left: 50%;
    overflow: hidden;
    border: 10px solid #f2ebe9;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}
.wrapper{
    width: 50%;
    display: flex;
    animation: slide 10s infinite;
    
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
}



/* The footer is fixed to the bottom of the page */

footer {
    background-color: #264143;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex-basis: 30%;
  margin-top: 15px;
  text-align: center;
}

footer h2 {
    color:#f2ebe9;
    font: normal 30px ;
    text-align: center;
}
.footer-left p{
    color: #f2ebe9;
    text-align: center;
    font-size: 16px;
    padding-top: 32px;
}

.footer-center p{
    color: #f2ebe9;
    text-align: center;
    font-size: 16px;;
}
.footer-right p,a{
    color: #f2ebe9;
    font-size: 16px;
    padding-bottom: 15px;
}
.icon a{

    padding-top: 5px;
}
.footer-center img {
    height: 15%;
    width: 15%;
    align-items: center;
}

.icon img{
    width: 10%;
    height: 10%; 
    align-items: center;
}
hr{
    border: 2px solid #264143;
}


@media (max-width: 900px){
    .btn{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .btn label{
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }
    .btn label span{
        display: block;
        height: 10px;
        width: 20px;
        border-top: 3px solid black;
    }
    .btn label:hover, #check:checked ~ .btn label{
        background-color: #f2ebe9;
        transition: all .5s ease
    }
    .Menu{
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        background-color: #f2ebe9;
        top: 70px;
        right: 0;
        padding-top: 5px;
        overflow-y: hidden;
        transition: all .5s ease-in;
    }
    .Menu a{
        display: block;
        padding-bottom: 20px;

    }
    #check:not(:checked) ~ .Menu{
        height: 0px;
    }
    #check:checked ~ .Menu{
        height: 100vh;
        overflow-y: auto;
    }
    .Menu .dropdown{
        float: none;
        width: 100%;
    }
    .Menu .content{
        position: relative;
        background-color: #f2ebe9;
        top:0;
        left: 0;
    }
    .header img{
        position: relative;
        width: 50px;
    }
    #tresna{
        position: relative;
        font-size: 90%;
        padding-top: 5px;
    }

    .page{
        padding-top: 22%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col{
        width: 100%;
        height: 100%;
        margin: 20px;
        padding: 10px;
        text-align: center;
      }
    .program{
        width: 100%;
        height: 100%;
        margin: 20px;
        padding: 10px;
        background-color: #f2ebe9;
        text-align: center;
    
    }
    .program img{
        width: 80%;
        align-items: center;
    }
    .margin{
        margin: 50px;
    }
    .slide{
        width: 100%;
    }
    .wrap{
        padding-left: 10px;
    }
    .wrap img{
        width: 100%;
        padding: 5px;
    }
    .name{
        display: block;
        font-size: 18px;
        text-align: center;
    }
    .program p{
        display: block;
        text-align: justify;
        font-size: 18px;
    }

      

}


@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

@media screen and (max-width: 900px) {
    .footer-left,
    .footer-center,
    .footer-right {
      flex-basis: 100%;}
  }  