@font-face {
    font-family: DMSans;
    src: url(DM_Sans/DMSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: DMSans;

}
.head{
    z-index: 1;
    text-transform: uppercase;
    height: 100px;
    width: 100%;
    padding: 18px 30px;
    background: #f2ebe9;
    position: fixed;
    border-bottom: 1px solid #264143;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}
body{
    background:  #eddcd9;
    font-size: 20px;
}

.header{
    display: inline-flex;
    font-weight: bold;
    color: #264143;
    line-height: 30px;
}
#tresna{
    padding: 5px;
    padding-top: 15px;
    font-size: 100%;
}
/* */

#card {
    margin-top: 15%;
    margin-bottom: 5%;
}

#card2 {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 455px;
    margin: 6rem auto 8.1rem auto;
    width: 385px;
}

#card-content {
    padding: 10px 20px;
}

#card-title {
    font-family: 'DM Sans';
    color: #264143;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

input[type=text],
input[type=password] {
    box-sizing: border-box;
    border: 1px solid #555;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ffffff;
    outline: none;
}

#username {
    border: 2px solid #555;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}

.btn2 {
    background-color: #264143;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 18px 19px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn2:hover {
    opacity: 1;
}

#register {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
}

#regis-card{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 455px;
    margin: 6rem auto 8.1rem auto;
    width: 385px;
}

@media screen and (max-width: 900px) {

    #card {
        margin-top: 15%;
        margin-bottom: 5%;
        position: relative;
        display: block;
    }

    #regis-card{
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 50%;
        margin: 6rem auto 8.1rem auto;
        width: 75%;
    }

    #card2 {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 50%;
        margin: 6rem auto 8.1rem auto;
        width: 50%;
    }
} 


body {
    background-color: #eddcd9;
}

#card {
    margin-top: 14%;
}

#card2 {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 510px;
    margin: 6rem auto 8.1rem auto;
    width: 400px;
}

#card-content {
    padding: 10px 20px;
}

#card-title {
    font-family: 'DM Sans';
    color: #264143;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

input[type=text],
input[type=password] {
    box-sizing: border-box;
    border: 1px solid #555;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#username {
    border: 2px solid #555;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}

.btn2 {
    background-color: #264143;
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn2:hover {
    opacity: 1;
}

#log {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
}


/*  */

.header img{
    width: 70px;
    padding-top: 1px;
}
.Menu{
    display: inline;
    float: right;
    line-height: 40px;
    padding-top:  8px;
}

.Menu a{
    padding: 5px 5px;
    color: #264143;
    transition: all .5s !important;
    font-size: 80%;
    font-weight: bold;
}
.Menu a:hover, .Menu a.active{
    color: #f2ebe9;
    background-color: #264143;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.content{
    display: none;
    position: absolute;
    background: #f2ebe9;
    min-width: 150px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    border-top: 1px solid #f2ebe9;
    border: 3px solid #264143;
}
.dropdown:hover .content{
    display: block;
}
.content a{
    padding: 12px 10px;
    border-bottom: 1px solid #264143;
    display: block;
    transition: all .5s !important;
    text-align: center;

}
.content a:hover{
    color: blue;
    background-color: #eddcd9;
}

#check, .btn{
    display: none;
}
@media (max-width: 900px){
    .btn{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .btn label{
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }
    .btn label span{
        display: block;
        height: 10px;
        width: 20px;
        border-top: 3px solid black;
    }
    .btn label:hover, #check:checked ~ .btn label{
        background-color: #f2ebe9;
        transition: all .5s ease
    }
    .Menu{
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        background-color: #f2ebe9;
        top: 70px;
        right: 0;
        padding-top: 5px;
        overflow-y: hidden;
        transition: all .5s ease-in;
    }
    .Menu a{
        display: block;
        padding-bottom: 20px;

    }
    #check:not(:checked) ~ .Menu{
        height: 0px;
    }
    #check:checked ~ .Menu{
        height: 100vh;
        overflow-y: auto;
    }
    .Menu .dropdown{
        float: none;
        width: 100%;
    }
    .Menu .content{
        position: relative;
        background-color: #f2ebe9;
        top:0;
        left: 0;
    }
    .header img{
        position: relative;
        width: 50px;
    }
    #tresna{
        position: relative;
        font-size: 90%;
        padding-top: 5px;
    }

}
@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

/* The footer is fixed to the bottom of the page */

footer {
    background-color: #264143;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex-basis: 30%;
  text-align: center;
}

footer h2 {
    color:#f2ebe9;
    font: normal 30px ;
    text-align: center;
}
.footer-left p{
    color: #f2ebe9;
    text-align: center;
    font-size: 16px;
    padding-top: 32px;
}

.footer-center p{
    color: #f2ebe9;
    text-align: center;
    font-size: 16px;
    padding-top: 25px;
}
.footer-right p,a{
    color: #f2ebe9;
    font-size: 16px;
    padding-bottom: 15px;
}
.icon a{

    padding-top: 5px;
}
.footer-center img {
    height: 15%;
    width: 15%;
    align-items: center;
}

.icon img{
    width: 10%;
    height: 10%; 
    align-items: center;
}

@media screen and (max-width: 900px) {
    .footer-left,
    .footer-center,
    .footer-right {
      flex-basis: 100%;}
  }  